{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Did Coding</title>
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"> -->
  </head>
  <body>
    <p>Hi {username},</p>
    <br />
    <p>
      Please click on the following link to activate your registered account on
      Robofi web application.
    </p>
    <br />
    <p>Activation Link : {activation_link}</p>
    <br />
    <p>Regards,</p>
    <br />
    <p>Ankit</p>
  </body>
</html>
