<div class="notifications">
  <div class="grid grid-cols-3 gap-4 form-wrapper">
    <div class="col-span-3 md:col-span-2 sm:col-span-1">
      <legend>Notifications:</legend>
      <ng-container *ngIf="receivedNotification$ | async">
        <div
          class="grid grid-cols-3 gap-4 notification"
          *ngFor="let notification of notifications"
        >
          <div class="col-span-1 sender">
            <span>Sender: {{notification.sender}}</span>
          </div>
          <div class="col-span-2 content">
            <p class="whitespace-normal">Message : {{notification.content}}</p>
          </div>
        </div>
      </ng-container>
    </div>
    <ng-container
      *ngIf="receivers$ | async as receivers; else loadingReceivers"
    >
      <form
        [formGroup]="notificationForm"
        class="col-span-3 form-group md:col-span-1 sm:col-span-2"
      >
        <legend class="form-heading">Send Notification</legend>
        <div class="form-group Reciever">
          <label for="receivers" class="form-label required">Reciever:</label>
          <select
            multiple
            id="receivers"
            name="receivers"
            class="form-select"
            formControlName="receivers"
            [ngClass]="{
            'is-invalid': isInValid(value('receivers')),
            'is-valid': isValid(value('receivers'))
          }"
          >
            <option [value]="receiver.id" *ngFor="let receiver of receivers">
              {{receiver.username}}
            </option>
          </select>
          <small
            class="invalid-feedback"
            *ngIf="value('receivers').touched && value('receivers').errors?.required"
            >{{ "Atleast one receiver is mandatory." }}</small
          >
        </div>
        <div class="form-group Content">
          <label for="content" class="form-label required">Content:</label>
          <textarea
            rows="1"
            id="content"
            class="form-control"
            formControlName="content"
            [ngClass]="{
            'is-invalid': isInValid(value('content')),
            'is-valid': isValid(value('content'))
          }"
          ></textarea>
          <small
            class="invalid-feedback"
            *ngIf="value('content').touched && value('content').errors?.required"
            >{{ "Content is Mandatory." }}</small
          >
        </div>

        <button
          class="btn"
          type="button"
          (click)="SendNotification()"
          [disabled]="notificationForm.invalid"
          [ngClass]="{
          'form-valid': !notificationForm.invalid,
          'form-invalid': notificationForm.invalid
        }"
        >
          Send
        </button>
      </form>
    </ng-container>

    <ng-template #loadingReceivers>
      <app-spinner [spinnerSize]="'1.5rem'"
        >{{ " Loading Receivers....." }}</app-spinner
      >
    </ng-template>
  </div>
</div>
