<ng-container
  *ngIf="specification$|async as specification; else specificationDataNotAvailable"
>
  <div class="mx-4 view-or-edit-specification form-wrapper">
    <form [formGroup]="viewOrEditSpecificationForm">
      <div class="form-group">
        <h1 class="mt-3 text-center form-heading">Create Specification</h1>
        <div class="mx-2 row">
          <div class="col-md-6 col-sm-12">
            <div class="form-group Name">
              <label for="Name" class="form-label required">Name</label>
              <input
                id="Name"
                type="text"
                formControlName="Name"
                [readonly]="mode === 'view'"
                class="form-control highlight"
                [ngClass]="{
                  'is-invalid': isInValid(value('Name')),
                  'is-valid': isValid(value('Name'))
                }"
              />
              <small
                *ngIf="
                value('Name').touched &&
                value('Name').errors?.required
              "
                class="invalid-feedback"
                >{{ "Name is Mandatory." }}</small
              >
            </div>

            <div class="form-group Version">
              <label for="Version" class="form-label required">Version</label>
              <input
                type="text"
                id="Version"
                formControlName="Version"
                [readonly]="mode === 'view'"
                class="form-control highlight"
                [ngClass]="{
                  'is-invalid': isInValid(value('Version')),
                  'is-valid': isValid(value('Version'))
                }"
              />
              <small
                *ngIf="
                value('Version').touched &&
                value('Version').errors?.required
              "
                class="invalid-feedback"
                >{{ "Version is Mandatory." }}</small
              >
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group Category">
              <label for="Category" class="form-label required">Category</label>
              <input
                type="text"
                id="Category"
                formControlName="Category"
                [readonly]="mode === 'view'"
                class="form-control highlight"
                [ngClass]="{
                  'is-invalid': isInValid(value('Category')),
                  'is-valid': isValid(value('Category'))
                }"
              />
              <small
                *ngIf="
                value('Category').touched &&
                value('Category').errors?.required
              "
                class="invalid-feedback"
                >{{ "Category is Mandatory." }}</small
              >
            </div>

            <div class="form-group Description">
              <label for="Description" class="form-label required"
                >Description</label
              >
              <input
                type="text"
                id="Description"
                formControlName="Description"
                [readonly]="mode === 'view'"
                class="form-control highlight"
                [ngClass]="{
                  'is-invalid': isInValid(value('Description')),
                  'is-valid': isValid(value('Description'))
                }"
              />
              <small
                *ngIf="
                value('Description').touched &&
                value('Version').errors?.required
              "
                class="invalid-feedback"
                >{{ "Description is Mandatory." }}</small
              >
            </div>
          </div>
        </div>

        <!-- Inputs -->
        <div class="flex flex-wrap form-group">
          <h3 class="md:w-1/2 sm:w-full form-heading">Inputs</h3>
          <div class="md:w-1/2 sm:w-full">
            <button
              type="button"
              (click)="AddSpecificationInput()"
              class="btn pull-right"
              [disabled]="viewOrEditSpecificationForm.invalid || (mode === 'view')"
              [ngClass]="{
                'form-valid': viewOrEditSpecificationForm.valid,
                'form-invalid': viewOrEditSpecificationForm.invalid
              }"
            >
              Add new Input
            </button>
          </div>
        </div>

        <div formArrayName="Inputs" class="form-group">
          <div
            class="form-group"
            [formGroupName]="i"
            *ngFor="let itemrow of inputFormsArr.controls; let i = index"
          >
            <div class="flex flex-wrap -mx-1">
              <div class="p-1 md:w-3/12 sm:w-full form-group">
                <label [for]="'Input-Name-' + i" class="form-label">Name</label>
                <textarea
                  rows="1"
                  formControlName="Name"
                  [id]="'Input-Name-' + i"
                  [readonly]="mode === 'view'"
                  placeholder="Name of input..."
                  class="form-control extended-control highlight"
                  [ngClass]="{
                    'is-invalid': isInValid(value_i(i, 'Name')),
                    'is-valid': isValid(value_i(i, 'Name'))
                  }"
                ></textarea>
                <small
                  *ngIf="
                  value_i(i, 'Name').touched &&
                  value_i(i, 'Name').errors?.required
                "
                  class="invalid-feedback"
                  >{{ "Input name is Mandatory." }}</small
                >
              </div>
              <div class="p-1 md:w-2/12 sm:w-full form-group">
                <label [for]="'Input-Type-' + i" class="form-label">Type</label>
                <textarea
                  rows="1"
                  placeholder="Type..."
                  formControlName="Type"
                  [id]="'Input-Type-' + i"
                  [readonly]="mode === 'view'"
                  class="form-control extended-control highlight"
                  [ngClass]="{
                    'is-invalid': isInValid(value_i(i, 'Type')),
                    'is-valid': isValid(value_i(i, 'Type'))
                  }"
                ></textarea>
                <small
                  *ngIf="
                  value_i(i, 'Type').touched &&
                  value_i(i, 'Type').errors?.required
                "
                  class="invalid-feedback"
                  >{{ "Input type is Mandatory." }}</small
                >
              </div>
              <div class="p-1 md:w-2/12 sm:w-full form-group">
                <label [for]="'Input-DefaultValue-' + i" class="form-label"
                  >DefaultValue</label
                >
                <textarea
                  rows="1"
                  formControlName="DefaultValue"
                  placeholder="Default value..."
                  [id]="'Input-DefaultValue-' + i"
                  [readonly]="mode === 'view'"
                  class="form-control extended-control highlight"
                ></textarea>
              </div>
              <div class="p-1 md:w-4/12 sm:w-full form-group">
                <label [for]="'Input-Description-' + i" class="form-label"
                  >Description</label
                >
                <textarea
                  rows="1"
                  formControlName="Description"
                  [id]="'Input-Description-' + i"
                  [readonly]="mode === 'view'"
                  placeholder="Description for input param..."
                  class="form-control extended-control highlight"
                ></textarea>
              </div>
              <div class="p-1 text-center md:w-1/12 sm:w-full form-group">
                <i
                  type="button"
                  *ngIf="mode === 'edit'"
                  class="bi bi-archive-fill danger"
                  (click)="DeleteSpecificationInput(i)"
                >
                </i>
              </div>
            </div>
          </div>
        </div>

        <!-- Outputs -->
        <div class="flex flex-wrap form-group">
          <h3 class="md:w-1/2 sm:w-full form-heading">Outputs</h3>
          <div class="md:w-1/2 sm:w-full">
            <button
              type="button"
              (click)="AddSpecificationOutput('','','')"
              class="btn pull-right"
              [disabled]="viewOrEditSpecificationForm.invalid || (mode === 'view')"
              [ngClass]="{
                'form-valid': !viewOrEditSpecificationForm.invalid,
                'form-invalid': viewOrEditSpecificationForm.invalid
              }"
            >
              Add new Output
            </button>
          </div>
        </div>

        <div formArrayName="Outputs" class="form-group">
          <div
            *ngFor="let itemrow of outputFormsArr.controls; let i = index"
            class="form-group"
            [formGroupName]="i"
          >
            <div class="flex flex-wrap -mx-1">
              <div class="p-1 md:w-3/12 sm:w-full form-group">
                <label [for]="'Output-Name-' + i" class="form-label"
                  >Name</label
                >
                <textarea
                  rows="1"
                  formControlName="Name"
                  [id]="'Output-Name-' + i"
                  placeholder="Name of output..."
                  [readonly]="mode === 'view'"
                  class="form-control extended-control highlight"
                  [ngClass]="{
                    'is-invalid': isInValid(value_o(i, 'Name')),
                    'is-valid': isValid(value_o(i, 'Name'))
                  }"
                ></textarea>
                <small
                  *ngIf="
                  value_o(i, 'Name').touched &&
                  value_o(i, 'Name').errors?.required
                "
                  class="invalid-feedback"
                  >{{ "Output name is Mandatory." }}</small
                >
              </div>
              <div class="p-1 md:w-2/12 sm:w-full form-group">
                <label [for]="'Output-Type-' + i" class="form-label"
                  >Type</label
                >
                <textarea
                  rows="1"
                  formControlName="Type"
                  placeholder="Type..."
                  [id]="'Output-Type-' + i"
                  [readonly]="mode === 'view'"
                  class="form-control extended-control highlight"
                  [ngClass]="{
                    'is-invalid': isInValid(value_o(i, 'Type')),
                    'is-valid': isValid(value_o(i, 'Type'))
                  }"
                ></textarea>
                <small
                  *ngIf="
                  value_o(i, 'Type').touched &&
                  value_o(i, 'Type').errors?.required
                "
                  class="invalid-feedback"
                  >{{ "Output type is Mandatory." }}</small
                >
              </div>
              <div class="p-1 md:w-6/12 sm:w-full form-group">
                <label [for]="'Output-Description-' + i" class="form-label"
                  >Description</label
                >
                <textarea
                  rows="1"
                  formControlName="Description"
                  [id]="'Output-Description-' + i"
                  [readonly]="mode === 'view'"
                  placeholder="Description for output param..."
                  class="form-control extended-control highlight"
                ></textarea>
              </div>
              <div class="p-1 text-center md:w-1/12 sm:w-full form-group">
                <i
                  type="button"
                  class="bi bi-archive-fill danger"
                  *ngIf="mode === 'edit'"
                  (click)="DeleteSpecificationOutput(i)"
                >
                </i>
              </div>
            </div>
          </div>
        </div>

        <!-- Errors -->
        <div class="flex flex-wrap form-group">
          <h3 class="md:w-1/2 sm:w-full form-heading">Errors</h3>
          <div class="md:w-1/2 sm:w-full">
            <button
              type="button"
              (click)="AddSpecificationError('','','')"
              class="btn pull-right"
              [disabled]="viewOrEditSpecificationForm.invalid || (mode === 'view')"
              [ngClass]="{
                'form-valid': !viewOrEditSpecificationForm.invalid,
                'form-invalid': viewOrEditSpecificationForm.invalid
              }"
            >
              Add new Error
            </button>
          </div>
        </div>

        <div formArrayName="Errors" class="form-group">
          <div
            *ngFor="let itemrow of errorFormsArr.controls; let i = index"
            class="form-group"
            [formGroupName]="i"
          >
            <div class="flex flex-wrap -mx-1">
              <div class="p-1 md:w-3/12 sm:w-full form-group">
                <label [for]="'Error-Message-' + i" class="form-label"
                  >Message</label
                >
                <textarea
                  rows="1"
                  formControlName="Message"
                  [id]="'Error-Message-' + i"
                  placeholder="Error Message..."
                  [readonly]="mode === 'view'"
                  class="form-control extended-control highlight"
                  [ngClass]="{
                    'is-invalid': isInValid(value_e(i, 'Message')),
                    'is-valid': isValid(value_e(i, 'Message'))
                  }"
                ></textarea>
                <small
                  *ngIf="
                  value_e(i, 'Message').touched &&
                  value_e(i, 'Message').errors?.required
                "
                  class="invalid-feedback"
                  >{{ "Error message is Mandatory." }}</small
                >
              </div>
              <div class="p-1 md:w-2/12 sm:w-full form-group">
                <label [for]="'Error-Code-' + i" class="form-label">Code</label>
                <textarea
                  rows="1"
                  formControlName="Code"
                  [id]="'Error-Code-' + i"
                  placeholder="Error Code..."
                  [readonly]="mode === 'view'"
                  class="form-control extended-control highlight"
                  [ngClass]="{
                    'is-invalid': isInValid(value_e(i, 'Code')),
                    'is-valid': isValid(value_e(i, 'Code'))
                  }"
                ></textarea>
                <small
                  *ngIf="
                  value_e(i, 'Code').touched &&
                  value_e(i, 'Code').errors?.required
                "
                  class="invalid-feedback"
                  >{{ "Error code is Mandatory." }}</small
                >
              </div>
              <div class="p-1 md:w-6/12 sm:w-full form-group">
                <label [for]="'Error-Description-' + i" class="form-label"
                  >Description</label
                >
                <textarea
                  rows="1"
                  [readonly]="mode === 'view'"
                  formControlName="Description"
                  [id]="'Error-Description-' + i"
                  placeholder="Error Description..."
                  class="form-control extended-control highlight"
                ></textarea>
              </div>
              <div class="p-1 text-center md:w-1/12 sm:w-full form-group">
                <i
                  type="button"
                  class="bi bi-archive-fill danger"
                  *ngIf="mode === 'edit'"
                  (click)="DeleteSpecificationError(i)"
                >
                </i>
              </div>
            </div>
          </div>
        </div>

        <!-- Dependencies -->
        <div class="flex flex-wrap form-group">
          <h3 class="md:w-1/2 sm:w-full form-heading">Dependency</h3>
          <div class="md:w-1/2 sm:w-full">
            <button
              type="button"
              (click)="AddSpecificationDependency('','','')"
              class="btn pull-right"
              [disabled]="viewOrEditSpecificationForm.invalid || (mode === 'view')"
              [ngClass]="{
                'form-valid': !viewOrEditSpecificationForm.invalid,
                'form-invalid': viewOrEditSpecificationForm.invalid
              }"
            >
              Add new Dependency
            </button>
          </div>
        </div>

        <div formArrayName="Dependencies" class="form-group">
          <div
            *ngFor="let itemrow of dependencyFormsArr.controls; let i = index"
            class="form-group"
            [formGroupName]="i"
          >
            <div class="flex flex-wrap -mx-1">
              <div class="p-1 md:w-3/12 sm:w-full form-group">
                <label [for]="'Dependency-Name-' + i" class="form-label"
                  >Name</label
                >
                <textarea
                  rows="1"
                  formControlName="Name"
                  [id]="'Dependency-Name-' + i"
                  placeholder="Name of Dependency..."
                  [readonly]="mode === 'view'"
                  class="form-control extended-control highlight"
                  [ngClass]="{
                    'is-invalid': isInValid(value_d(i, 'Name')),
                    'is-valid': isValid(value_d(i, 'Name'))
                  }"
                ></textarea>
                <small
                  *ngIf="
                  value_d(i, 'Name').touched &&
                  value_d(i, 'Name').errors?.required
                "
                  class="invalid-feedback"
                  >{{ "Dependency name is Mandatory." }}</small
                >
              </div>
              <div class="p-1 md:w-2/12 sm:w-full form-group">
                <label [for]="'Dependency-Type-' + i" class="form-label"
                  >Type</label
                >
                <textarea
                  rows="1"
                  formControlName="Type"
                  placeholder="Type..."
                  [id]="'Dependency-Type-' + i"
                  [readonly]="mode === 'view'"
                  class="form-control extended-control highlight"
                  [ngClass]="{
                    'is-invalid': isInValid(value_d(i, 'Type')),
                    'is-valid': isValid(value_d(i, 'Type'))
                  }"
                ></textarea>
                <small
                  *ngIf="
                  value_d(i, 'Type').touched &&
                  value_d(i, 'Type').errors?.required
                "
                  class="invalid-feedback"
                  >{{ "Dependency type is Mandatory." }}</small
                >
              </div>
              <div class="p-1 md:w-6/12 sm:w-full form-group">
                <label [for]="'Dependency-Description-' + i" class="form-label"
                  >Description</label
                >
                <textarea
                  rows="1"
                  formControlName="Description"
                  [id]="'Dependency-Description-' + i"
                  [readonly]="mode === 'view'"
                  placeholder="Description for dependency param..."
                  class="form-control extended-control highlight"
                ></textarea>
              </div>
              <div class="p-1 text-center md:w-1/12 sm:w-full form-group">
                <i
                  type="button"
                  class="bi bi-archive-fill danger"
                  *ngIf="mode === 'edit'"
                  (click)="DeleteSpecificationDependency(i)"
                >
                </i>
              </div>
            </div>
          </div>
        </div>

        <!-- Authors -->
        <div class="flex flex-wrap form-group">
          <h3 class="md:w-1/2 sm:w-full form-heading">Authors</h3>
          <div class="md:w-1/2 sm:w-full">
            <button
              type="button"
              (click)="AddSpecificationAuthor('','','')"
              class="btn pull-right"
              [disabled]="viewOrEditSpecificationForm.invalid || (mode === 'view')"
              [ngClass]="{
                'form-valid': !viewOrEditSpecificationForm.invalid,
                'form-invalid': viewOrEditSpecificationForm.invalid
              }"
            >
              Add new Author
            </button>
          </div>
        </div>

        <div formArrayName="Authors" class="form-group">
          <div
            *ngFor="let itemrow of authorFormsArr.controls; let i = index"
            class="form-group"
            [formGroupName]="i"
          >
            <div class="flex flex-wrap -mx-1">
              <div class="p-1 md:w-3/12 sm:w-full form-group">
                <label [for]="'Author-Name-' + i" class="form-label"
                  >Name</label
                >
                <textarea
                  rows="1"
                  formControlName="Name"
                  [id]="'Author-Name-' + i"
                  placeholder="Name of author..."
                  [readonly]="mode === 'view'"
                  class="form-control extended-control highlight"
                  [ngClass]="{
                    'is-invalid': isInValid(value_a(i, 'Name')),
                    'is-valid': isValid(value_a(i, 'Name'))
                  }"
                ></textarea>
                <small
                  *ngIf="
                  value_a(i, 'Name').touched &&
                  value_a(i, 'Name').errors?.required
                "
                  class="invalid-feedback"
                  >{{ "Author name is Mandatory." }}</small
                >
              </div>
              <div class="p-1 md:w-4/12 sm:w-full form-group">
                <label [for]="'Author-Email-' + i" class="form-label"
                  >Email</label
                >
                <textarea
                  rows="1"
                  formControlName="Email"
                  placeholder="Email Id..."
                  [id]="'Author-Email-' + i"
                  [readonly]="mode === 'view'"
                  class="form-control extended-control highlight"
                  [ngClass]="{
                    'is-invalid': isInValid(value_a(i, 'Email')),
                    'is-valid': isValid(value_a(i, 'Email'))
                  }"
                ></textarea>
                <small
                  *ngIf="
                  value_a(i, 'Email').touched &&
                  value_a(i, 'Email').errors?.required
                "
                  class="invalid-feedback"
                  >{{ "Author email is Mandatory." }}</small
                >
              </div>
              <div class="p-1 md:w-4/12 sm:w-full form-group">
                <label [for]="'Author-Contact-' + i" class="form-label"
                  >Contact</label
                >
                <textarea
                  rows="1"
                  formControlName="Contact"
                  [id]="'Author-Contact-' + i"
                  placeholder="Contact number..."
                  [readonly]="mode === 'view'"
                  class="form-control extended-control highlight"
                ></textarea>
              </div>
              <div class="p-1 text-center md:w-1/12 sm:w-full form-group">
                <i
                  type="button"
                  class="bi bi-archive-fill danger"
                  *ngIf="mode === 'edit'"
                  (click)="DeleteSpecificationAuthor(i)"
                >
                </i>
              </div>
            </div>
          </div>
        </div>

        <button
          class="btn"
          type="submit"
          *ngIf="mode === 'edit'"
          [disabled]="viewOrEditSpecificationForm.invalid"
          (click)="UpdateSpecification(specification.id)"
          [ngClass]="{
            'form-valid': !viewOrEditSpecificationForm.invalid,
            'form-invalid': viewOrEditSpecificationForm.invalid
          }"
        >
          Update
        </button>
      </div>
    </form>
  </div>
</ng-container>

<ng-template #specificationDataNotAvailable>
  <app-spinner [spinnerSize]="'1.5rem'"
    >{{ " Fetching requested specification details from backend...."
    }}</app-spinner
  >
</ng-template>
