<div
  [id]="'specification-' + specificationIndex"
  class="w-full max-w-sm m-2 rounded-lg specification lg:flex"
>
  <div class="specification-crud-buttons">
    <i
      aria-hidden="true"
      (click)="ViewSpecification(specification)"
      class="bi bi-eye-fill primary"
    ></i>
    <i
      aria-hidden="true"
      (click)="EditSpecification(specification)"
      class="bi bi-pencil-square secondary"
    ></i>
    <i
      aria-hidden="true"
      (click)="DeleteSpecification(specification)"
      class="bi bi-archive-fill danger"
    ></i>
  </div>

  <div class="specification-details">
    <div
      class="mx-1 mb-2 text-xl font-bold text-center bg-gray-200 rounded-3xl"
    >
      {{ specification.Name }}
    </div>
    <p
      class="flex-auto h-20 p-1 mb-1 overflow-y-auto text-base bg-gray-200 rounded-lg "
    >
      {{ specification.Description }}
    </p>
    <div class="flex flex-wrap gap-2">
      <div class="flex items-center px-2 bg-gray-200 rounded-lg w-fit">
        <small>Category - {{ specification.Category }}</small>
      </div>
      <div class="flex items-center px-2 bg-gray-200 rounded-lg w-fit">
        <small>Version - {{ specification.Version }}</small>
      </div>
    </div>
  </div>
</div>
