<div class="flex space-x-4">
  <a
    [routerLink]="[settingsPath.root, settingsPath.appearance]"
    routerLinkActive="text-white dark:text-gray-900 bg-gray-600 hover:bg-gray-600 dark:bg-gray-800 dark:hover:bg-gray-800"
    class="
      px-2
      py-2
      text-sm
      font-medium
      text-gray-700
      rounded-md
      whitespace-nowrap
      dark:text-gray-300
      hover:bg-gray-400
      dark:hover:bg-gray-600
      hover:text-white
    "
    >Appearance</a
  >

  <a
    [routerLink]="[settingsPath.root, settingsPath.account]"
    routerLinkActive="text-white dark:text-gray-900 bg-gray-600 hover:bg-gray-600 dark:bg-gray-800 dark:hover:bg-gray-800"
    class="
      px-2
      py-2
      text-sm
      font-medium
      text-gray-700
      rounded-md
      whitespace-nowrap
      dark:text-gray-300
      hover:bg-gray-400
      dark:hover:bg-gray-600
      hover:text-white
    "
    >Account</a
  >

  <a
    [routerLink]="[settingsPath.root, settingsPath.billing]"
    routerLinkActive="text-white dark:text-gray-900 bg-gray-600 hover:bg-gray-600 dark:bg-gray-800 dark:hover:bg-gray-800"
    class="
      px-2
      py-2
      text-sm
      font-medium
      text-gray-700
      rounded-md
      whitespace-nowrap
      dark:text-gray-300
      hover:bg-gray-400
      dark:hover:bg-gray-600
      hover:text-white
    "
    >Billing</a
  >
  <a
    [routerLink]="[settingsPath.root, settingsPath.blockedUsers]"
    routerLinkActive="text-white dark:text-gray-900 bg-gray-600 hover:bg-gray-600 dark:bg-gray-800 dark:hover:bg-gray-800"
    class="
      px-2
      py-2
      text-sm
      font-medium
      text-gray-700
      rounded-md
      whitespace-nowrap
      dark:text-gray-300
      hover:bg-gray-400
      dark:hover:bg-gray-600
      hover:text-white
    "
    >Blocked Users</a
  >
  <a
    [routerLink]="[settingsPath.root, settingsPath.notifications]"
    routerLinkActive="text-white dark:text-gray-900 bg-gray-600 hover:bg-gray-600 dark:bg-gray-800 dark:hover:bg-gray-800"
    class="
      px-2
      py-2
      text-sm
      font-medium
      text-gray-700
      rounded-md
      whitespace-nowrap
      dark:text-gray-300
      hover:bg-gray-400
      dark:hover:bg-gray-600
      hover:text-white
    "
    >Notifications</a
  >
  <a
    [routerLink]="[settingsPath.root, settingsPath.security]"
    routerLinkActive="text-white dark:text-gray-900 bg-gray-600 hover:bg-gray-600 dark:bg-gray-800 dark:hover:bg-gray-800"
    class="
      px-2
      py-2
      text-sm
      font-medium
      text-gray-700
      rounded-md
      whitespace-nowrap
      dark:text-gray-300
      hover:bg-gray-400
      dark:hover:bg-gray-600
      hover:text-white
    "
    >Security</a
  >
  <a
    [routerLink]="[settingsPath.root, settingsPath.securityLog]"
    routerLinkActive="text-white dark:text-gray-900 bg-gray-600 hover:bg-gray-600 dark:bg-gray-800 dark:hover:bg-gray-800"
    class="
      px-2
      py-2
      text-sm
      font-medium
      text-gray-700
      rounded-md
      whitespace-nowrap
      dark:text-gray-300
      hover:bg-gray-400
      dark:hover:bg-gray-600
      hover:text-white
    "
    >Security Log</a
  >
</div>
