<div class="flex space-x-4">
  <a
    [routerLink]="[automationPath.root, automationPath.home]"
    routerLinkActive="text-white dark:text-gray-900 bg-gray-600 hover:bg-gray-600 dark:bg-gray-800 dark:hover:bg-gray-800"
    class="
      px-2
      py-2
      text-sm
      font-medium
      text-gray-700
      rounded-md
      whitespace-nowrap
      dark:text-gray-300
      hover:bg-gray-400
      dark:hover:bg-gray-500
      hover:text-white
    "
    >Home</a
  >

  <a
    [routerLink]="[automationPath.root, automationPath.dashboard]"
    routerLinkActive="text-white dark:text-gray-900 bg-gray-600 hover:bg-gray-600 dark:bg-gray-800 dark:hover:bg-gray-800"
    class="
      px-2
      py-2
      text-sm
      font-medium
      text-gray-700
      rounded-md
      whitespace-nowrap
      dark:text-gray-300
      hover:bg-gray-400
      dark:hover:bg-gray-500
      hover:text-white
    "
    >Dashboard</a
  >

  <a
    [routerLink]="[automationPath.root, automationPath.specification.root]"
    routerLinkActive="text-white dark:text-gray-900 bg-gray-600 hover:bg-gray-600 dark:bg-gray-800 dark:hover:bg-gray-800"
    class="
      px-2
      py-2
      text-sm
      font-medium
      text-gray-700
      rounded-md
      whitespace-nowrap
      dark:text-gray-300
      hover:bg-gray-400
      dark:hover:bg-gray-500
      hover:text-white
    "
    >Specifications</a
  >

  <a
    [routerLink]="[automationPath.root, automationPath.microbot.root]"
    routerLinkActive="text-white dark:text-gray-900 bg-gray-600 hover:bg-gray-600 dark:bg-gray-800 dark:hover:bg-gray-800"
    class="
      px-2
      py-2
      text-sm
      font-medium
      text-gray-700
      rounded-md
      whitespace-nowrap
      dark:text-gray-300
      hover:bg-gray-400
      dark:hover:bg-gray-500
      hover:text-white
    "
    >Microbots</a
  >

  <a
    [routerLink]="[automationPath.root, automationPath.configuration.root]"
    routerLinkActive="text-white dark:text-gray-900 bg-gray-600 hover:bg-gray-600 dark:bg-gray-800 dark:hover:bg-gray-800"
    class="
      px-2
      py-2
      text-sm
      font-medium
      text-gray-700
      rounded-md
      whitespace-nowrap
      dark:text-gray-300
      hover:bg-gray-400
      dark:hover:bg-gray-500
      hover:text-white
    "
    >Configurations</a
  >
</div>
