<div class="flex flex-col m-4 view-all-microbots">
  <div class="m-2 create-specification-button right">
    <button
      [routerLink]="['../', MICROBOT_PATH.create]"
      class="inline-flex items-center px-4 py-2 font-semibold text-green-700 border-2 border-green-500 rounded  hover:bg-green-500 hover:text-white hover:border-transparent"
    >
      <i class="px-1 bi bi-plus-lg" aria-hidden="true"></i>
      <span>Create Microbot</span>
    </button>
  </div>
  <ng-container
    *ngIf="microbots$ | async as microbots; else microbotDataNotFetched"
  >
    <ng-container
      *ngIf="microbots | filterAutomationMicrobot | async as filteredMicrobots; else filteredMicrobotsDataNotAvailable"
    >
      <div class="flex flex-wrap">
        <app-microbot
          [filteredMicrobot]="microbot"
          [filteredMicrobotIndex]="filteredMicrobotIndex"
          (onMicrobotDelete)="onMicrobotDelete($event)"
          *ngFor="let microbot of filteredMicrobots; let filteredMicrobotIndex=index"
          [id]="'microbot-' + filteredMicrobotIndex"
          class="w-full max-w-sm m-2 microbot md:w-1/3 lg:flex"
        ></app-microbot>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #microbotDataNotFetched>
    <app-spinner [spinnerSize]="'1.5rem'"
      >{{ " Fetching Microbot data from backend....." }}</app-spinner
    >
  </ng-template>

  <ng-template #filteredMicrobotsDataNotAvailable>
    <app-spinner [spinnerSize]="'1.5rem'"
      >{{ " Applying filter based on keyword....." }}</app-spinner
    >
  </ng-template>
</div>
