<div
  *ngIf="loggedInUser$ | async as loggedInUser"
  class="flex flex-col space-x-4 md:flex-row"
>
  <!-- <a
    [routerLink]="[userPath.root, userPath.overview]"
    routerLinkActive="text-white dark:text-gray-900 bg-gray-600 hover:bg-gray-600 dark:bg-gray-800 dark:hover:bg-gray-800"
    class="px-2 py-2 text-sm font-medium text-gray-700 rounded-md whitespace-nowrap dark:text-gray-300 hover:bg-gray-400 dark:hover:bg-gray-500 hover:text-white"
    >Overview</a
  > -->

  <a
    [routerLink]="[userPath.root, userPath.changePassword]"
    routerLinkActive="text-white dark:text-gray-900 bg-gray-600 hover:bg-gray-600 dark:bg-gray-800 dark:hover:bg-gray-800"
    class="px-2 py-2 text-sm font-medium text-gray-700 rounded-md  whitespace-nowrap dark:text-gray-300 hover:bg-gray-400 dark:hover:bg-gray-500 hover:text-white"
    ><span class="px-1">
      <i class="bi bi-shield-plus" aria-hidden="true"></i>
    </span>
    <span class="d-none d-md-inline-block">
      {{ 'Change Password' }}
    </span></a
  >

  <a
    [routerLink]="[userPath.root, userPath.editDetails]"
    routerLinkActive="text-white dark:text-gray-900 bg-gray-600 hover:bg-gray-600 dark:bg-gray-800 dark:hover:bg-gray-800"
    class="px-2 py-2 text-sm font-medium text-gray-700 rounded-md  whitespace-nowrap dark:text-gray-300 hover:bg-gray-400 dark:hover:bg-gray-500 hover:text-white"
    ><span class="px-1">
      <i class="bi bi-pencil-square" aria-hidden="true"></i>
    </span>
    <span class="d-none d-md-inline-block">
      {{ 'Edit Details' }}
    </span></a
  >

  <a
    [routerLink]="[
      userPath.root,
      userPath.profile,
      loggedInUser.id,
      userPath.editProfile
    ]"
    routerLinkActive="text-white dark:text-gray-900 bg-gray-600 hover:bg-gray-600 dark:bg-gray-800 dark:hover:bg-gray-800"
    class="px-2 py-2 text-sm font-medium text-gray-700 rounded-md  whitespace-nowrap dark:text-gray-300 hover:bg-gray-400 dark:hover:bg-gray-500 hover:text-white"
    ><span class="px-1">
      <i class="bi bi-person-bounding-box" aria-hidden="true"></i>
    </span>
    <span class="d-none d-md-inline-block">
      {{ 'Edit Profile' }}
    </span></a
  >

  <a
    [routerLinkActiveOptions]="{ exact: true }"
    [routerLink]="[userPath.root, userPath.profile, loggedInUser.id]"
    routerLinkActive="text-white dark:text-gray-900 bg-gray-600 hover:bg-gray-600 dark:bg-gray-800 dark:hover:bg-gray-800"
    class="px-2 py-2 text-sm font-medium text-gray-700 rounded-md  whitespace-nowrap dark:text-gray-300 hover:bg-gray-400 dark:hover:bg-gray-500 hover:text-white"
    ><span class="px-1">
      <i class="bi bi-eye" aria-hidden="true"></i>
    </span>
    <span class="d-none d-md-inline-block">
      {{ 'View Profile' }}
    </span></a
  >

  <a
    [routerLink]="[userPath.root, userPath.signOut]"
    routerLinkActive="text-white dark:text-gray-900 bg-gray-600 hover:bg-gray-600 dark:bg-gray-800 dark:hover:bg-gray-800"
    class="px-2 py-2 text-sm font-medium text-gray-700 rounded-md  whitespace-nowrap dark:text-gray-300 hover:bg-gray-400 dark:hover:bg-gray-500 hover:text-white"
    ><span class="px-1">
      <i class="bi bi-person-x" aria-hidden="true"></i>
    </span>
    <span class="d-none d-md-inline-block">
      {{ 'Sign Out' }}
    </span></a
  >
</div>
