<div
  *ngIf="placeholder$ | async as placeholder"
  class="d-flex justify-content-center align-items-center"
>
  <div class="form">
    <input
      type="search"
      [ngClass]="width"
      class="text-black"
      [ngModel]="searchBoxKeywords$ | async"
      (ngModelChange)="searchBoxTypedKeywords = $event"
      [placeholder]="'Search ' + placeholder + '...'"
    />
    <span class="btn left-pan" (click)="listenClicks = '1'"
      ><i class="fa fa-microphone"></i
    ></span>
  </div>
</div>
