<div class="flex flex-col m-4 view-all-specifications">
  <div class="m-2 create-specification-button right">
    <button
      [routerLink]="['../../', specificationPath.root, specificationPath.create]"
      class="inline-flex items-center px-4 py-2 font-bold text-gray-800 bg-gray-300 rounded  hover:bg-gray-400"
    >
      <svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M10 3C10.5523 3 11 3.44772 11 4V9H16C16.5523 9 17 9.44772 17 10C17 10.5523 16.5523 11 16 11H11V16C11 16.5523 10.5523 17 10 17C9.44772 17 9 16.5523 9 16V11H4C3.44772 11 3 10.5523 3 10C3 9.44771 3.44772 9 4 9L9 9V4C9 3.44772 9.44772 3 10 3Z"
          fill="#111827"
        />
      </svg>
      <span>Create Specification</span>
    </button>
  </div>
  <ng-container
    *ngIf="allSpecifications$ | async as allSpecifications; else specificationDataNotFetched"
  >
    <div class="flex flex-wrap">
      <div
        *ngFor="let specification of allSpecifications"
        class="w-full max-w-sm m-2 specification md:w-1/3 lg:flex"
      >
        <div
          class="h-24 text-center bg-pink-500 bg-cover rounded-t  lg:h-48 lg:rounded-t-none lg:rounded-l lg:w-1/3"
        ></div>

        <div
          class="flex flex-col justify-between w-auto h-48 p-2 leading-normal bg-white border-b border-l border-r border-gray-400  lg:w-2/3 lg:border-l-0 lg:border-t lg:border-gray-400"
        >
          <div class="mb-4">
            <div
              class="mx-1 mb-2 text-xl font-bold text-center text-gray-900 bg-gray-200  rounded-3xl"
            >
              {{specification.Name}}
            </div>
            <p class="h-20 overflow-y-auto text-base text-gray-700">
              {{specification.Description}}
            </p>
          </div>
          <div class="flex items-center">
            <p class="pr-1 text-gray-900">- By</p>
            <p
              *ngFor="let author of specification.Authors"
              class="leading-none text-gray-900"
            >
              {{ " " + author.Name }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #specificationDataNotFetched>
    <app-spinner [spinnerSize]="'1.5rem'"
      >{{ " Fetching Specification data from backend....." }}</app-spinner
    >
  </ng-template>
</div>
