<div class="flex flex-col m-4 view-all-specifications">
  <div class="m-2 create-specification-button right">
    <button
      [routerLink]="['../', SPECIFICATION_PATH.create]"
      class="inline-flex items-center px-4 py-2 font-semibold text-green-700 border-2 border-green-500 rounded  hover:bg-green-500 hover:text-white hover:border-transparent"
    >
      <i class="px-1 bi bi-plus-lg" aria-hidden="true"></i>
      <span>Create Specification</span>
    </button>
  </div>
  <ng-container
    *ngIf="specifications$ | async as specifications; else specificationDataNotFetched"
  >
    <ng-container
      *ngIf="specifications | filterAutomationSpecification | async as filteredSpecifications; else filteredSpecificationsDataNotAvailable"
    >
      <div class="flex flex-wrap">
        <app-specification
          [filteredSpecification]="specification"
          [filteredSpecificationIndex]="filteredSpecificationIndex"
          (onSpecificationDelete)="onSpecificationDelete($event)"
          *ngFor="let specification of filteredSpecifications; let filteredSpecificationIndex=index"
          [id]="'specification-' + filteredSpecificationIndex"
          class="w-full max-w-sm m-2 specification md:w-1/3 lg:flex"
        ></app-specification>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #specificationDataNotFetched>
    <app-spinner [spinnerSize]="'1.5rem'"
      >{{ " Fetching Specification data from backend....." }}</app-spinner
    >
  </ng-template>

  <ng-template #filteredSpecificationsDataNotAvailable>
    <app-spinner [spinnerSize]="'1.5rem'"
      >{{ " Applying filter based on keyword....." }}</app-spinner
    >
  </ng-template>
</div>
