<div class="mx-5 my-3 table-responsive">
  <table
    class="
      table
      w-full
      text-sm
      bg-gray-300
      border-collapse
      dark:text-white dark:bg-gray-700
    "
  >
    <thead>
      <tr class="rounded-xl">
        <th>#</th>
        <th>Key</th>
        <th>Value</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ configEntryIndex }}</td>
        <td>{{ configEntry.name }}</td>
        <td>{{ configEntry.value }}</td>
        <td (click)="ViewConfigEntry(configEntry)">
          <i
            aria-hidden="true"
            class="cursor-pointer bi bi-eye-fill primary"
          ></i>
        </td>
        <td (click)="EditConfigEntry(configEntry)">
          <i
            aria-hidden="true"
            class="cursor-pointer bi bi-pencil-square secondary"
          ></i>
        </td>
        <td (click)="DeleteConfigEntry(configEntry)">
          <i
            aria-hidden="true"
            class="cursor-pointer bi bi-archive-fill danger"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
