<div class="flex flex-col mx-4 my-3 view-all-microbots">
  <div class="flex flex-col gap-4 m-2 sm:flex-row">
    <app-auto-microbot-filter></app-auto-microbot-filter>
    <button
      class="create-microbot-button"
      [routerLink]="['../', MICROBOT_PATH.create]"
    >
      <i class="px-1 bi bi-plus-lg" aria-hidden="true"></i>
      <span>Microbot</span>
    </button>
  </div>

  <ng-container *ngIf="microbots$ | async as microbots; else loadingMicrobots">
    <ng-container
      *ngIf="microbots | filterMicrobots | async as filteredMicrobots; else loadingFilteredMicrobots"
    >
      <div
        class="grid grid-cols-1 gap-4  sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
      >
        <app-microbot
          [filteredMicrobot]="microbot"
          (onMicrobotDelete)="onMicrobotDelete($event)"
          [filteredMicrobotIndex]="filteredMicrobotIndex"
          *ngFor="let microbot of filteredMicrobots; let filteredMicrobotIndex=index; trackBy: trackBy"
        ></app-microbot>
      </div>

      <app-spinner
        [spinnerSize]="'1.5rem'"
        *ngIf="microbots && ((filteredMicrobots |json) === '[]')"
        >{{ " No microbot to show for requested filter. Try some different
        filter." }}</app-spinner
      >
    </ng-container>

    <app-spinner [spinnerSize]="'1.5rem'" *ngIf="!microbots"
      >{{ " No microbots available at backend. Create new Microbot" }}
      <a [routerLink]="['../', MICROBOT_PATH.create]">here.....</a></app-spinner
    >
  </ng-container>
  <ng-template #loadingMicrobots>
    <app-spinner [spinnerSize]="'1.5rem'"
      >{{ " Fetching Microbots data from backend....." }}</app-spinner
    >
  </ng-template>

  <ng-template #loadingFilteredMicrobots>
    <app-spinner [spinnerSize]="'1.5rem'"
      >{{ " Applying filter based on keyword....." }}</app-spinner
    >
  </ng-template>
</div>
