<div class="flex flex-col md:flex-row">
  <a
    class="navbar-link"
    routerLinkActive="active"
    [routerLink]="[settingsPath.root, settingsPath.appearance]"
    ><span class="px-1">
      <i class="bi bi-cloud-moon" aria-hidden="true"></i>
    </span>
    <span class="d-none d-md-inline-block">
      {{ 'Appearence' }}
    </span></a
  >

  <a
    class="navbar-link"
    routerLinkActive="active"
    [routerLink]="[settingsPath.root, settingsPath.account]"
    ><span class="px-1">
      <i class="bi bi-person-square" aria-hidden="true"></i>
    </span>
    <span class="d-none d-md-inline-block">
      {{ 'Acount' }}
    </span></a
  >

  <a
    class="navbar-link"
    routerLinkActive="active"
    [routerLink]="[settingsPath.root, settingsPath.billing]"
    ><span class="px-1">
      <i class="bi bi-bank2" aria-hidden="true"></i>
    </span>
    <span class="d-none d-md-inline-block">
      {{ 'Billing' }}
    </span></a
  >
  <a
    class="navbar-link"
    routerLinkActive="active"
    [routerLink]="[settingsPath.root, settingsPath.blockedUsers]"
    ><span class="px-1">
      <i class="bi bi-person-x" aria-hidden="true"></i>
    </span>
    <span class="d-none d-md-inline-block">
      {{ 'Blocked Users' }}
    </span></a
  >
  <a
    class="navbar-link"
    routerLinkActive="active"
    [routerLink]="[settingsPath.root, settingsPath.notifications]"
  >
    <span class="px-1">
      <i class="bi bi-bell" aria-hidden="true"></i>
    </span>
    <span class="d-none d-md-inline-block"> {{ 'Notification' }} </span>
    <span *ngIf="notification$ | async" class="ml-0.5">{{
      unreadNotificationCount
    }}</span>
  </a>
  <a
    class="navbar-link"
    routerLinkActive="active"
    [routerLink]="[settingsPath.root, settingsPath.security]"
    ><span class="px-1">
      <i class="bi bi-shield-lock" aria-hidden="true"></i>
    </span>
    <span class="d-none d-md-inline-block">
      {{ 'Security' }}
    </span></a
  >
  <a
    class="navbar-link"
    routerLinkActive="active"
    [routerLink]="[settingsPath.root, settingsPath.securityLog]"
    ><span class="px-1">
      <i class="bi bi-shield-check" aria-hidden="true"></i>
    </span>
    <span class="d-none d-md-inline-block">
      {{ 'Security Log' }}
    </span></a
  >
</div>
