<ng-container
  *ngIf="configurationByUserId$ | async as configurationByUserId; else configurationDataNotFetched"
>
  <ng-container
    *ngIf="configurationByUserId$ | filterAutomationConfigurations | async as filteredConfigEntries; else filteredConfigurationDataNotAvailable"
  >
    <app-config-entry
      class="my-4"
      *ngFor="let filteredConfigEntry of filteredConfigEntries; let indexOfConfigEntry = index"
      [filteredConfigEntry]="filteredConfigEntry"
      [filteredConfigEntryIndex]="indexOfConfigEntry"
      (deletedConfigEntry)="onConfigEntryDelete($event)"
    ></app-config-entry>

    <div class="no-matching-trigger row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h4
          *ngIf="
          !((configurationByUserId.entries| json) == '[]') &&
          (filteredConfigEntries | json) == '[]'
        "
        >
          No Configuration entries found as per the searched keyword. Try with
          some different keyword.
        </h4>
        <h4 *ngIf="(configurationByUserId.entries| json) == '[]'">
          No Configuration entry found to display
        </h4>
      </div>
      <div class="col-md-2"></div>
    </div>
  </ng-container>
</ng-container>
<ng-template #configurationDataNotFetched>
  <app-spinner [spinnerSize]="'1.5rem'"
    >{{ " Fetching Automation Configuration data from backend....."
    }}</app-spinner
  >
</ng-template>

<ng-template #filteredConfigurationDataNotAvailable>
  <app-spinner [spinnerSize]="'1.5rem'"
    >{{ " Applying filter based on keyword....." }}</app-spinner
  >
</ng-template>
