<ng-container
  *ngIf="configurationByUserId$ | async as configurationByUserId; else configurationDataNotFetched"
>
  <div class="mx-5 my-2 table-responsive">
    <table
      class="table w-full text-sm text-white bg-gray-700 border-collapse  dark:text-black table-hover dark:bg-gray-300 caption-top"
    >
      <caption>
        Configuration Entry List
      </caption>
      <thead>
        <tr class="rounded-xl">
          <th>#</th>
          <th>Key</th>
          <th>Value</th>
          <th>View</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let configurationEntry of configurationByUserId.entries; let i = index"
        >
          <td>{{i}}</td>
          <td>{{configurationEntry.name}}</td>
          <td>{{configurationEntry.value}}</td>
          <td><i class="fa fa-eye" aria-hidden="true"></i></td>
          <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
          <td><i class="fa fa-remove" aria-hidden="true"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
<ng-template #configurationDataNotFetched>
  <app-spinner [spinnerSize]="'1.5rem'"
    >{{ " Fetching Configuration data from backend....." }}</app-spinner
  >
</ng-template>
