<ng-container
  *ngIf="configurationByUserId$ | async as configurationByUserId; else configurationDataNotFetched"
>
  <div class="flex flex-row-reverse flex-wrap m-4 configuration-buttons">
    <button
      *ngIf="configurationByUserId.user"
      class="text-red-700 border-red-500 hover:bg-red-500"
      (click)="onDeleteConfigurationOfUser(configurationByUserId.id)"
    >
      <i class="px-1 bi bi-plus-lg" aria-hidden="true"></i>
      <span>Delete User Automation Configuration</span>
    </button>
    <button
      (click)="onCreateConfigurationOfUser()"
      *ngIf="configurationByUserId.user == undefined"
      class="text-green-700 border-green-500 hover:bg-green-500"
    >
      <i class="px-1 bi bi-plus-lg" aria-hidden="true"></i>
      <span>Create User Automation Configuration</span>
    </button>
    <button
      *ngIf="configurationByUserId.user"
      (click)="onAddConfigEntryForUser()"
      class="text-green-700 border-green-500 hover:bg-green-500"
    >
      <i class="px-1 bi bi-plus-lg" aria-hidden="true"></i>
      <span>Add Configuration Entry</span>
    </button>
  </div>

  <ng-container
    *ngIf="configurationByUserId$ | filterAutomationConfigurations | async as filteredConfigEntries; else filteredConfigurationDataNotAvailable"
  >
    <app-config-entry
      class="my-4"
      *ngFor="let filteredConfigEntry of filteredConfigEntries; let indexOfConfigEntry = index"
      [filteredConfigEntry]="filteredConfigEntry"
      [filteredConfigEntryIndex]="indexOfConfigEntry"
      (onConfigurationChange)="onConfigurationChange($event)"
    ></app-config-entry>

    <div class="no-matching-trigger row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h4
          *ngIf="
          !((configurationByUserId.entries| json) == '[]') &&
          (filteredConfigEntries | json) == '[]'
        "
        >
          No Configuration entries found as per the searched keyword. Try with
          some different keyword.
        </h4>
        <h4 *ngIf="(configurationByUserId.entries| json) == '[]'">
          No Configuration entry found to display
        </h4>
      </div>
      <div class="col-md-2"></div>
    </div>
  </ng-container>
</ng-container>
<ng-template #configurationDataNotFetched>
  <app-spinner [spinnerSize]="'1.5rem'"
    >{{ " Fetching Automation Configuration data from backend....."
    }}</app-spinner
  >
</ng-template>

<ng-template #filteredConfigurationDataNotAvailable>
  <app-spinner [spinnerSize]="'1.5rem'"
    >{{ " Applying filter based on keyword....." }}</app-spinner
  >
</ng-template>
