<div class="flex flex-col mx-4 my-3 view-all-specifications">
  <div class="m-2 create-specification-button right">
    <button
      [routerLink]="['../', SPECIFICATION_PATH.create]"
      class="inline-flex items-center px-4 py-2 font-semibold text-green-700 border-2 border-green-500 rounded  hover:bg-green-500 hover:text-white hover:border-transparent"
    >
      <i class="px-1 bi bi-plus-lg" aria-hidden="true"></i>
      <span>Create Specification</span>
    </button>
  </div>
  <ng-container
    *ngIf="specifications$ | async as specifications; else loadingSpecifications"
  >
    <ng-container
      *ngIf="specifications | filterAutomationSpecification | async as filteredSpecifications; else loadingFilteredSpecifications"
    >
      <div
        class="grid grid-cols-1 gap-4  sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
      >
        <app-specification
          [filteredSpecification]="specification"
          [filteredSpecificationIndex]="filteredSpecIndex"
          (onSpecificationDelete)="onSpecificationDelete($event)"
          *ngFor="let specification of filteredSpecifications; let filteredSpecIndex=index; trackBy: trackBy"
        ></app-specification>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #loadingSpecifications>
    <app-spinner [spinnerSize]="'1.5rem'"
      >{{ " Fetching Specifications data from backend....." }}</app-spinner
    >
  </ng-template>

  <ng-template #loadingFilteredSpecifications>
    <app-spinner [spinnerSize]="'1.5rem'"
      >{{ " Applying filter based on keyword....." }}</app-spinner
    >
  </ng-template>
</div>
