<div class="flex flex-col mx-4 my-3 view-all-specifications">
  <div class="flex flex-col gap-4 m-2 sm:flex-row">
    <app-auto-spec-filter></app-auto-spec-filter>
    <button
      class="create-specification-button"
      [routerLink]="['../', SPECIFICATION_PATH.create]"
    >
      <i class="px-1 bi bi-plus-lg" aria-hidden="true"></i>
      <span>Specification</span>
    </button>
  </div>
  <ng-container
    *ngIf="specifications$ | async as specifications; else loadingSpecifications"
  >
    <ng-container
      *ngIf="specifications | filterSpecifications | async as filteredSpecifications; else loadingFilteredSpecifications"
    >
      <div
        class="grid grid-cols-1 gap-4  sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
      >
        <app-specification
          [filteredSpecification]="specification"
          [filteredSpecificationIndex]="filteredSpecIndex"
          (onSpecificationDelete)="onSpecificationDelete($event)"
          *ngFor="let specification of filteredSpecifications; let filteredSpecIndex=index; trackBy: trackBy"
        ></app-specification>
      </div>

      <app-spinner
        [spinnerSize]="'1.5rem'"
        *ngIf="specifications && ((filteredSpecifications |json) === '[]')"
        >{{ " No specification to show for requested filter. Try some different
        filter." }}</app-spinner
      >
    </ng-container>

    <app-spinner [spinnerSize]="'1.5rem'" *ngIf="!specifications"
      >{{ " No specifications available at backend. Create new Specification" }}
      <a [routerLink]="['../', SPECIFICATION_PATH.create]"
        >here.....</a
      ></app-spinner
    >
  </ng-container>
  <ng-template #loadingSpecifications>
    <app-spinner [spinnerSize]="'1.5rem'"
      >{{ " Fetching Specifications data from backend....." }}</app-spinner
    >
  </ng-template>

  <ng-template #loadingFilteredSpecifications>
    <app-spinner [spinnerSize]="'1.5rem'"
      >{{ " Applying filter based on keyword....." }}</app-spinner
    >
  </ng-template>
</div>
